@font-face {
    font-family: Axis;
    src: url("../fonts/Axis Extrabold.otf");
}

main {
    height: 100vh;
    background-image: url("images/city.png");
    background-size: cover;
    background-position-x: center;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    width: 100%;
    position: relative;
    top: 75vh;
}

td {
    background: radial-gradient(at center bottom, rgba(0, 0, 0, 1), rgba(50, 50, 50, 0.3), rgba(255, 255, 255, 0) 70%);
    background-blend-mode: normal;
    height: 25vh;
    width: 33%
}

td:hover {
    cursor: pointer;
    background-image: radial-gradient(at center bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
}

td h1 {
    padding-top: 5vh;
    font-size: 3vw;
}

td:hover h1 {
    font-size: 4vw;
}

td * {
    color: #ede3ee;
    font-family: Axis;
    font-weight: 900;
}

h2 {
    transform: rotate(90deg);
    display: inline-flex;
    font-size: 3.5vh
}